{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <style>
        /*h1
        {
            background-color: black;
            color: white;
            width: fit-content;
        }*/
    </style>
</head>
<body>
    <center>
       <div> <h1 class="btn btn-success">Hi MDB5 ! This is Musician</h1></div>
    <div> <img src="{% static 'images/guitarblack.jpeg' %}" alt="No image" width="300px" height="300px"></div>
<div><h1 class="btn btn-primary">Hello</h1></div>
    </center>

    <script src="{% static 'js/mdb.es.min.js' %}"></script>
</body>
</html>